@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}
body,div,p,span,dl,dt,dd,em,font,img,h1,h2,h3,h4,h5,h6,ol,ul,li{ margin:0px; padding:0px;}
body{ font-family:"Microsoft Yahei"; font-size:12px;}
ul li{ list-style:none;}
a{ color:#333333; text-decoration:none; -webkit-tap-highlight-color:transparent}
img{ border:0px;}
.clear{ clear:both; height:0; font-size:0; overflow:hidden; line-height:0;}


.xhmian{ margin:0 auto; max-width:640px; min-width:320px; width:100%;}
.xhphonetop{ background:#0075c2; padding:6px 10px;}
.xhphonetop .xhlogo{ width:250px; float:left;}
.xhphonetop .xhfhsy{ width:30px; float:right; margin-top:10px;}
.ass_banner{ margin:0 auto; max-width: 640px; width:100%; height:192px; overflow:hidden; position:relative; text-align:center; margin-bottom:20px;}
.ass_banner img{ position:absolute; top:0px; left:0px; width:100%; min-width: 320px; max-width: 640px; height:auto; max-height:240px; min-height:132px;}
.ass_banner a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}
.nivo-slice{ display:block; position:absolute; z-index:5; height:100%;}
.nivo-box{ display:block;position:absolute; z-index:5;}
.nivo-caption{ position:absolute; left:0px; bottom:0px; background:#333333; color:#ffffff; opacity:0.8; width:100%; z-index:8; height:40px;}
.nivo-caption p{ padding:0 10px; margin:0; line-height:40px; font-size:14px; text-align:left;}
.nivo-caption a{ display:inline !important;}
.nivo-html-caption{ display:none;}
.nivo-directionNav a{ position:absolute; top:30%; z-index:9; cursor:pointer; display:none;}
.nivo-prevNav{ left:0px; display:none;}
.nivo-nextNav{ right:0px; display:none;}
.nivo-controlNav a{ position:relative; z-index:9; cursor:pointer;}
.nivo-controlNav a.active { font-weight:bold;}
.ass_banner { position:relative; background:#fff url(loading.gif) no-repeat 50% 50%; -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a; box-shadow: 0px 1px 5px 0px #4a4a4a;}
.ass_banner img{ position:absolute; top:0px; left:0px; display:none;}
.ass_banner a{ border:0; display:block;}
.nivo-controlNav{position:absolute; right:2%; bottom:12px;}
.nivo-controlNav a{ display:block; width:15px; height:15px; background:#ffffff; text-indent:-9999px; border:0;margin-right:10px; float:left; border-radius:15px;}
.nivo-controlNav a.active{ background:#f8b520;}
.nivo-directionNav a{ display:block; width:55px; height:130px; background-image:url(../images/scroll_jt.png); background-repeat:no-repeat; text-indent:-9999px; border:0; display:none;}
a.nivo-nextNav{ background-position:-102px 0; right:15px;}
a.nivo-prevNav{ left:15px; background-position:0 0;}

.xhmenu,.xhtymg{ margin-bottom:20px;}
.xhmenu a{ width:25%; float:left; text-align:center;}
.xhmenu a span{ display:block; margin-bottom:10px;}
.xhmenu a h2{ font-size:15px; color:#333333; font-weight:normal; }
.xhline{ height:1px; line-height:0; font-size:0; border-bottom:1px #d9d9d9 solid; margin:10px 15px 20px 15px;}
.xhtitle{ text-align:center; font-size:23px; font-weight:normal;}
.xhgyxh_nr{ padding:0 10px;}
.xhgyxh_nr dl{ overflow:hidden;}
.xhgyxh_nr dl dt{ float:left; width:30%; overflow:hidden;}
.xhgyxh_nr dl dt img{ width:100%;}
.xhgyxh_nr dl dd{ float:right; width:68%;}
.xhgyxh_nr dl dd h2{ font-size:17px; font-weight:normal; margin-bottom:6px;}
.xhgyxh_nr dl dd h2 a,.xhgyxh_nr dl dd p a{ color:#1681c8;}
.xhgyxh_nr dl dd p{ font-size:12px; line-height:20px; color:#666666;}
.xhamore{ text-align:center; padding:15px 0;}
.xhamore a{ display:inline-block; width:100px; height:29px; background:url(../images/moreabtn.gif) no-repeat; text-align:center; line-height:29px; color:#ffffff; font-size:12px;}
.xhnewscenter{ margin:0 15px; border-radius:10px; border:1px #d9d9d9 solid;}
.xhnewscenter ul li{ border-bottom:1px #d9d9d9 dashed; height:40px; line-height:40px; padding:0 20px 0 10px; position:relative; font-size:14px;}
.xhnewscenter ul li span{ position:absolute; right:15px; top:0px; line-height:40px; color:#999999;}
.xhhuiyuan{}
.xhhuiyuan .hylist{ float:left; width:43%; text-align:center; padding:10px 3% 0 3%; padding-bottom:10px; border-right:1px #d9d9d9 dotted; border-bottom:1px #d9d9d9 dotted;}
.xhhuiyuan .bodrg{ border-right:0px;}
.xhhuiyuan .hylist span{ vertical-align:top; width:48%;}
.xhhuiyuan .hylist span img{ overflow:hidden; width:100%;}
.xhhuiyuan .hylist h2{ font-size:14px; padding:8px 0 5px 0; height:40px;}
.xhhuiyuan .hylist p{ color:#999999; text-align:left;}
.xhhuiyuan .hylist p.p1{ margin-bottom:6px;}
.xhhuiyuan .hylist p.p2{ line-height:22px;}
.xhhuiyuan .hylist p.p2 a{ color:#1e78e8;}
.xhzhxx dl{ padding-bottom:10px; border-bottom:1px #d9d9d9 dashed; margin-bottom:10px;}
.xhzhxx dl dd h2 a{ color:#333333;}
.xhfooter{ padding:15px; background:#0b7cc2; color:#ffffff; line-height:24px;}
.copyright{ height:42px; background:url(../images/footerbg.gif) repeat-x; line-height:42px; text-align:center; color:#ffffff;}
.copyright a{ color:#ffffff;}
.xhaboutbanner{ text-align:center;}
.xhaboutbanner img{ width:100%;}
.xhabout_title{ padding:10px;}
.xhabout_title a{ display:inline-block; width:20%; height:35px; line-height:35px; text-align:center; font-size:14px;}
.xhabout_title a.selected{ background:#0081bf; border-radius:6px; color:#ffffff; }
.xhcontent,.xh_pos{ padding:10px 15px;}
.xhcontent p{ line-height:26px; margin-bottom:10px; font-size:14px; text-indent:2em;}
.xhcontent p img{ width:100%; margin-left:-2em;}
.xhcontent .xhtitle{ border-bottom:1px #d9d9d9 dashed; padding-bottom:10px;}
.xhhuiyuan a{ width:33%;}
.jy_fy{ padding:15px 0 25px 0; text-align:center;}
.jy_fy a{ display:inline-block; background:#dddddd; border:1px #d9d9d9 solid; padding:6px 15px; color:#000000; margin-right:8px;}
.jy_fy a.a1,.jy_fy span{ background:#0075c2; border:1px #0075c2 solid; color:#ffffff;}
.jy_fy a:hover{ background:#0075c2; color:#ffffff; border:1px #0075c2 solid;}
.jy_fy b{ background:#0075c2; color:#ffffff; padding:5px 11px; text-align:center; margin-right:8px; display:inline-block;}
.jy_fy span{ display:inline-block; padding:6px 15px; margin-right:8px;}
.xh_pos{ color:#666666;}
.xh_pos a{ display:inline-block; margin:0 6px;}